@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');

body{
  font-family: "Roboto", "Comic Sans MS", serif;
  font-weight: bold;


}

.center {
  margin: auto;
  margin-top: 30px;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
}


  .header {
  margin: auto;
  font-style: oblique;
  background-color: #adadad ;
  font-size: 250%;
  text-shadow: 2px 2px 3px #666666;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 150px;
  padding-right: 15px;
  border-radius: 50px;
  width: 450px;
}

#t3{
  
}


  }
